header{
	background-image:url("https://mobimg.b-cdn.net/v3/fetch/84/84d051d26314b380a09a7b7e23007c36.jpeg");
	background-position:center;
	background-size:100%;
	height:250px;
}
header a{
	background-color:Silver;
	font-size:25px;
	color:black;
	text-decoration:none;
	padding:10px;
}
h1{
	position:relative;
	left:40%;
	top:100px;
	font-family:Trattatello, fantasy;
	color:Gray;
	text-shadow:2px 3px 0px black;
	font-size:45px;
	width:500px;
	margin-right:0px;
}
main p{
	font-size:25px;
	background-color:silver;
	width:1000px;
	padding:10px;
}
body{
	margin:0px;
}
footer{
	font-size:30px;
	background-color:silver;
}
main{
	background:url("image2.png") no-repeat 10% 40%;
}
li{
	list-style:url("image1.png"); 
}
