header{
	background-image:url("https://mobimg.b-cdn.net/v3/fetch/50/5090a46256b6c3103e6b49c9f5203ede.jpeg");
	background-position:center;
	background-size:100%;
	height:250px;
}
header a{
	background-color:Silver;
	font-size:25px;
	color:black;
	text-decoration:none;
	padding:10px;
}
h1{
	position:relative;
	left:40%;
	top:100px;
	font-family:Trattatello, fantasy;
	color:white;
	text-shadow:2px 3px 0px black;
	font-size:45px;
	width:500px;
	margin-right:0px;
}
main p{
	font-size:25px;
	background-color:silver;
	width:1000px;
	padding:10px;
}
body{
	margin:0px;
}
footer{
	font-size:30px;
	background-color:silver;
}
main{
	background:url("image2.png") no-repeat 10% 40%;
}
ul{
	background-color:Silver;
	width:500px;
	text-align:left;
	font-size:25px;
	list-style:url("хриз.png");
}
